* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('./fontsMyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Bold.woff2') format('woff2'),
        url('MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    color: #000;
    background: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fde428;
}

p {
    margin-bottom: 16px;
}

li {
    list-style: none;
    padding: 5px 10px;
}

span {
    color: rgb(48, 157, 193);
    ;
}


/* header css  topbar*/
.topbar {
    background-color: #002e5b;

}

.page-header {
    text-align: center;
    justify-content: left;
    background: #002e5b url('../image/Layer13.png') no-repeat center /cover;
    padding: 45px 75px;
    margin: 0 122px;

}

@media (max-width:768px) {
    .page-header {
        padding: 45px 75px;
        margin: 0 122px;
    }

    .navbar-end {
        margin: 0 20px;
    }
}

@media (max-width:1366px) {
    .page-header {
        padding: 30px 30px;
        margin: 0 60px;
    }

    .navbar-end {
        margin: 0 20px;
    }
}

@media (max-width:1023px) {
    .page-header {
        padding: 30px 30px;
        margin: 0 60px;
    }

    .navbar-end {
        margin: 0 20px;
    }

}



@media (max-width:1180px) {
    .page-header {
        padding: 30px 30px;
        margin: 0 40px;
    }

    .navbar-end {
        margin: 0 20px;
    }
}

/* @media (min-width:324px) {
    .page-header {
        padding: 0px 0px;
        margin: 0 20px;
    }
}   */

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
    display: block;
}

@media(max-width:768px) {
    .header-left {
        padding: 0 0;
        width: 40%;
    }

    .header-content {
        display: block;
    }
}

.header-left img {
    width: 190px;
}

.header-left {
    width: 50%;
    text-align: left;
}

.container-partners-layout {
    color: white;
}

.header-right {
    display: flex;
    width: 50%;
    color: #fff;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header-first {
    display: flex;
    padding: 10px 20px;

}

.text small {
    padding: 0 5px;
}

.header-first-icons {
    padding-left: 53px;
}

.header-first-icons i {
    width: 35px;
    font-size: 22px;
}

.header-first-icons img {
    height: 20px;
    width: 20px;
    margin-left: 2px;
}

@media (min-width:768px) {
    .header-first-icons {
        padding-left: 20px;
    }
}

@media (min-width:768px) {
    .header-first-icons {
        padding-left: 20px;
    }
}

/* @media (min-width:324px) {
    .header-first-icons {
        padding-left: 20px;
    }
} */

@media (max-width:768px) {
    .icons {
        width: 100px;
        height: 100px;
    }

    .header-first {
        padding: 10px 0;
    }
}

@media (max-width:1920px) {
    .header-left {
        padding: 0 208px;
    }
}

@media (max-width:1640px) {
    .header-left {
        padding: 0  0;
    }
}

@media (max-width:1368px) {
    .header-left {
        padding: 0 65px;
    }
}

.icons {
    padding: 5px;
}

.header-first-icons i {
    padding: 15px 0px;
}

/* main-page menu */
.main-content {
    background: url('../image/Layer-11-copy.png') no-repeat center / cover;
    height: 574px;
    width: 100%;
}

.menu {
    background-color: #f5F5F4;
}

.navbar-end {
    padding: 0 5px 0px 10px;
    top: -31px;
    position: relative;
    background-color: #002e5b;
    display: flex;
}

@media (max-width:767px) {
    .navbar-end {
        padding: 0 5px 0px 10px;
        display: flex;
    }

    .header-right {
        width: 100%;
    }
}

@media (max-width:767px) {
    .navbar-end {
        display: none;
    }
}

@media (max-width:1368px) {
    .menu {
        padding: 0 240px;
    }

    .header-right {
        width: 45%;
    }
}

@media (max-width:1260px) {
    .menu {
        padding: 0 122px;
    }

    .header-right {
        width: 45%;
    }
}

.navigation {
    padding-left: 25px;
    width: 665px;
}

.navigation ul {
    display: flex;
    padding: 15px 30px;
    text-align: center;
}

@media (max-width:768px) {
    .navigation ul {
        display: block;
        padding: 15px 30px;
        text-align: center;
    }
}

.call-icon {
    display: flex;
    padding: 10px;
    width: 43%;
    justify-content: end;
}

@media(max-width:767px) {
    .call-icon {
        width: 30%;
        justify-content: start;
    }
}

.call-icon i {
    padding: 10px;
}

.navcae-end-paragraph a {
    font-size: 20px;
    color: white;
}

.icons-compass {
    padding: 0 20px;
}

.icons-compass img {
    width: auto;
}

.container-owl.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev {
    position: absolute;
    top: 40px;
    left: -170px;
}

@media (max-width:768px) {
    .owl-prev {
        left: 35px;
    }

    .owl-prev {
        position: absolute;
        top: 40px;
        left: -170px;
    }

}

@media (max-width:768px) {
    .owl-prev {
        top: -55px;
    }
}



.owl-prev span {
    padding: 0px 10px;
    font-weight: 600;
    font-size: 30px;
    color: rgb(205, 201, 201);
    border: 5px solid rgb(205, 201, 201);
}

.owl-next {
    position: absolute;
    top: 125px;
    right: -90px;
}



@media(max-width:768px) {
    .owl-next {
        top: 210px;
        right: 15px;

    }
}


/* @media(max-width:1024px) {
    .owl-next {
        right: 880px;

    }
} */

@media(max-width:1259px) {
    .owl-next {
        right: 5px;

    }

}

/* @media(min-width:324px) {
    .owl-next {
        top: 420px;
        right: 15px;

    }
} */

.owl-next span {
    padding: 0px 12px;
    font-size: 30px;
    background-color: #002e5b;
    color: white;
    font-weight: 600;

}

.owl-dots {
    display: none;
}

.container .owl-prev {
    bottom: 20px;
    left: -115px;
}

.container-owl .owl-next {
    bottom: 110px;
    right: -115px;

}


@media(max-width:768px) {
    .container-owl .owl-next {
        bottom: 110px;
        right: -115px;
    }

    .container .owl-prev {
        bottom: -100px;
        left: 14px;
    }
}

@media(max-width:1260px) {
    .container .owl-prev {
        left: -20px;
    }

    .owl-next {
        right: -50px;
    }
    .container-owl .owl-next{
        right: 12px;
    }
}

@media(max-width:1024px) {
    .container-owl .owl-next {
        right: 15px;
    }
    .owl-next {
        right:5px;
    }
}


.main-page-inner-text span {
    color: #002e5b;
}

.main-page-inner-text h1 {
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-style: smooth;
    color: #000000;
    font-size: 80px;
    line-height: 65px;
}

.middle-colume {
    display: flex;
    padding: 90px 30px;
}


.main-page-inner-text {
    width: 30%;

}

/* get-action-code */

h4 {

    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #002e5b;
    padding: 5px 0;
    font-size: 26.664px;
}

.get-action-code {
    background-image: url('../image/Shape-4-copy-4.png');
    background-size: cover;
    padding: 30px 0;
}

.get-code {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

button,
.submit {
    background-color: #002e5b;
    color: #f6f6f5;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18.66px;
}

/* partners-layout-page */
.partners-layout-page,
.page-layout-boxes {
    display: inline-block;
    width: 100%;
}

.page-layout-boxes {
    display: flex;
    margin: 0 15px 15px;
    padding: 50px 0;

}

iframe {
    width: 100%;
}

@media (max-width:768px) {
    .page-layout-boxes{
       display: block;
      text-align: center;
    }
    .page-layout {
        margin-right: 10px;
        width: 100%;
        margin: 50px 0;
    }
}

@media (max-width:1024px) {
    .page-layout-boxes{
       display: block;
      text-align: center;
    }
    .page-layout {
        margin-right: 10px;
        width: 100%;
        margin: 50px 0;
    }
}
.empty-div {
    border-bottom: 5px solid #fde42b;
    width: 15%;
    margin-top: 10px;
}

.consulting-text {
    padding-right: 10px;
}

.consulting-text a {
    color: black;
}

.page-layout {
    color: black;
}

/* industries layout page */
.industries-layout-page {
    background-color: #f2f2f2;
}

.industries,
.travel-business-consumer {
    color: black;
}

.travel-business-consumer {
    width: 100%;
}

.travel-business-consumer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 30px;
}

@media (max-width:768px) {
    .travel-business-consumer {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}



.travel-business-container i {
    background-color: #002e5b;
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
    color: white;
    width: 50px;
    height: 50px;
}

.travel-business-container img {
    width: 100px;
    height: 50px;
    padding: 5px 11px;
    margin: 0 5px;
    background-color: #002e5b;
    border-radius: 34px;
}

.industries {
    text-align: center;

}

@media (min-width:768px) {
    .industries {
        padding: 55px;
    }
}

@media (min-width:728) {
    .industries {
        padding: 35px;
    }
}

@media (min-width:324) {
    .industries {
        padding: 25px;
    }
}

.container>.industries .empty {
    width: 5%;
}

.news .container-partners-layout .empty {
    margin: 0px 542px;
    width: 5%;
}

.container-partners-layout .empty {
    border-bottom: 5px solid #fde42b;
    margin: 0 473px;
    width: 5%;
}

.wrapper-partner-container .empty {
    border-bottom: 5px solid #fde42b;
    width: 4%;
}

.wrapper-partner-container .owl-stage-outer {
    margin: 0;
}

h3 {
    color: #002e5b;
    text-align: center;
    padding: 8px;
    font-size: 60px;
}

@media(max-width:768px) {
    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 18px;
    }

    .empty-div {
        width: 15%;
    }

    .main-page-inner-text h1 {
        font-size: 40px;
        line-height: 45px;
    }

    .icons-compass {
        padding: 0 10px;
    }

    .main-content {
        height: 380px;
    }

    .middle-colume {
        padding: 100px 0px;
    }

    .container-owl .owl-next {
        right: 5px;
        top: 145px;
    }

}


.business-finance-services {
    display: flex;
    width: 100%;
}

.travelcontainer-head-paragraph {
    padding: 0 10px;
}

@media(max-width:768px) {
    .travelcontainer-head-paragraph {
        padding: 10px 5px;
    }

    .travelcontainer-head-paragraph p {
        font-size: 13px;
    }

    .travel-business-container i {
        padding: 15px;
        font-size: 15px;
    }

    .travel-business-container {
        padding: 15px 0;
    }

    .travel-business-container img {
        padding: 6px 10px;
        margin: 0 5px;
        width: 80px;
    }

}

/* stastistics */
.stastistics {
    background: url('../image/Fotolia_54891569_Subscription_Monthly_M.png') no-repeat center / cover;
    width: 100%;
    margin: 10px 0;

}

.leading-the-way {
    display: flex;
    line-height: 55px;
    width: 80%;
    padding: 100px 0;
}

.leading-the-way span {
    color: #fde42b;
}

.leading-the-way h4,
.three-hundred-twenty-one h4 {
    color: #f6f6f5;
    font-size: 60px;
}

@media(max-width:768px) {

    .leading-the-way h4,
    .three-hundred-twenty-one h4 {
        font-size: 32px;
    }

    .leading-the-way {
        line-height: 40px;
        padding: 45px 0;
    }
}

.leading {
    display: flex;
    padding-bottom: 50px;
}

.leading-the-way img {
    width: auto;
    height: 85px;
    margin: 0 20px 0 0;
}

@media(max-width:768px) {
    .leading-the-way img {
        height: 60px;

    }
}



.three-hundred-twenty-one {
    padding-left: 120px;
}

@media(max-width:768px) {
    .three-hundred-twenty-one {
        padding-left: 65px;
    }
}

/* wrapper */
.title {
    margin-top: 20px;
    position: relative;
}

.title::after {
    content: '';
    display: inline-block;
    width: 35px;
    height: 6px;
    background: #fde428;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* .consulting-images-a {
    width: 100%;
    padding: 20px;
    height: 173px;
} */
.consulting-text-a {
    width: 42%;
    padding-left: 20px;
}

.consulting-text-a span,
.consulting-text-b span {
    color: black;
    opacity: 0.7;
    font-size: 18.66px;

}

.two-partners {
    display: flex;
    width: 100%;
    padding: 50px 0;
    flex-wrap: wrap;
}

@media(max-width:768px) {
    .two-partners {
        padding: 30px 0;
        width: 100%;
    }
}

.consulting-text-a>p {
    font-size: 18.66px;
}


.consulting-text-a p {
    font-size: 15px;
    margin-bottom: 0px;
}



.partner-layout-text-image {
    display: flex;
    padding: 0;
    color: black;
    width: 100%;
    justify-content: space-between;
}

@media(max-width:768px) {
    .partner-layout-text-image {}
}

.consulting-images-a {
    width: 100%;
}

@media(min-width:767px) {
    .consulting-text-a {
        width: 52.21%;
    }

    .consulting-images-a {
        width: 46.79%;
    }

}

/* our-partner */
.our-partners {
    background-color: hsl(0, 0%, 93%);
}

.logo-copy>img {
    background-color: hsl(0, 0%, 93%);
    padding: 15px 28px;
}

/* before-they */
.before-they-talk-to-investers {
    background: url('../image/Rectangle37.png') no-repeat center /cover;
    padding: 65px 0;
}

.before-they-talk-to-investers h4 {
    color: white;
    text-align: center;
    text-align: center;
}

.before-they-talk-to-investers span {
    color: #fde42b;

}

/* news */
.news-layout-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    margin-top: 60px;
}

@media (max-width:1023px) {
    .news-layout-boxes {
        flex-wrap: nowrap;
    }
}

@media(max-width:768px) {
    .news-layout-boxes {
        justify-content: center;
    }
}

.news-layout {
    display: inline-block;
    padding: 0 11px 15px;
    width: 277px;
    overflow: hidden;
}

h5 {
    color: #002e5b;
    font-display: swap;
    padding: 15px 0;
    font-size: 20px;

}

.news-text {
    display: flex;
}

.news-text p {

    color: #777777;
}

.news-text>i {
    color: #fde42b;
    padding: 5px 10px 0 0;
}

.request-a-call {
    background-color: #000000;
    color: white;
}


/* @media(min-width:768px){
    .request-layout-page{
        display: block;
    }
} */

.request-layout h4 {
    font-size: 48px;
    line-height: 50px;
    color: #fff;
    padding: 20px 0;
    width: 75%;
}

.request-layout h5 {
    color: #fff;
    padding: 20px 0;

}


.request-layout button {
    display: flex;
    padding: 8px 20px;
    margin: 10px;
}

.request-layout-page {
    display: flex;
    padding: 40px 0;
}

@media(max-width:767px) {
    .request-layout-page {
        display: block;
    }
}

.request-layout {
    padding: 20px;
    margin: 20px 0;
    overflow: hidden;
}

.from {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media(max-width:767px) {
    .request-layout {
        padding: 20px 15px;
        margin: 0;
    }
}

@media(min-width:768px) {
    .request-layout.col-md-4 {
        width: 40%;
    }

    .request-layout.col-md-8 {
        width: 60%;
    }
}

.request-layout input {
    padding: 10px 25px;
    width: 46%;
    margin: 0 2% 20px;
    display: inline-block;
}

.request-layout .submit {
    width: auto;
}

@media(max-width:767px) {
    .request-layout input {
        padding: 10px 15px;

    }

    .request-layout input {
        padding: 10px 15px;
        width: 100%;
        margin: 0 0 10px;
    }
}

.empty-request {
    padding: 32px;
}

/* world-map */
.world-map {
    background: url('../image/GoogleMap.png') no-repeat;
    width: 100%;
    height: 445px;
    position: relative;
    background-position: center;
}

@media(max-width:768px) {
    .world-map {
        background-size: cover;
    }

    .world-map-bg-image {
        width: 100%;
        height: 195px;
    }

    .world-map-bg-image>img {
        top: 27px;
        left: 80px;
    }

    .world-map-bg-image-b>img {
        position: absolute;
        top: 72px;
        left: 245px;
    }

    .world-map-bg-image-b h5 {
        width: 75px;
        left: 95px;
    }

    .world-map-bg-image-c>img {
        position: absolute;
        top: 12px;
        left: 490px;
    }


    .world-map-bg-image>img,
    .world-map-bg-image-b img,
    .world-map-bg-image-c img {
        width: 20px;

    }
}

/* 
@media(max-width:324px) {
    .world-map-bg-image-b h5 {
        left: 65px;
        bottom: 255px;
    }
    .world-map-bg-image-b>img {
        position: absolute;
        left: 110px;
        top: 197px;
    }
} */

.world-map-bg-image>img {
    position: absolute;
    right: 336px;
    top: 50px;
}

.world-map-bg-image-b>img {
    position: absolute;
    right: 800px;
    top: 200px;
}

.world-map-bg-image-b>h5 {
    position: absolute;
    background-color: #002e5b;
    color: white;
    right: 764px;
    top: 144px;
    padding: 8px;
    border-radius: 20px;
    font-size: 21.33px;
}

.world-map-bg-image-c>img {
    position: absolute;
    top: 68px;
    left: 232px;
}

/* footer */
/* footer-layout-page */
footer {
    background-color: #002e5b;
}

.footer-page {
    display: flex;
    padding: 70px 0;
    width: 100%;
}

@media(max-width:767px) {
    .footer-page {
        display: block;
        padding: 70px 0;
    }
}

.footer-layout-page {
    border-bottom: 3px solid #000000;
}

.footer-page i {
    color: #fde42b;
    padding-right: 10px;
}

@media(max-width:768px) {
    .footer-page i {
        padding: 10px;
    }
}

.footer-page a {
    color: #fff;
}

.location {
    display: flex;
}

.phone-number {
    padding: 10px 0;
}

.footer-top h5,
.footer-top-2 h5 {
    color: #fff;
    padding: 20px 0;
}

.footer-top {
    border-right: 1px solid #517ec0;
}

@media(max-width:767px) {
    .footer-top {
        border-bottom: 1px solid #517ec0;
        border-right: 0px solid #517ec0;
    }

}

.footer-top,
.footer-top-2 {
    padding: 0 50px;
}

@media(max-width:768px) {

    .footer-top,
    .footer-top-2 {
        padding: 25px 5px;
    }
}

.location-p p {
    padding-bottom: 0;
    line-height: 2px;
}

@media(max-width:768px) {
    .location-p p {
        line-height: 20px;
    }
}

.location-p {
    padding-top: 5px;
}

.border-radius-icons {
    width: 8px;
    height: 8px;
    border-radius: 5px;

    background-color: yellow;
}

.circular-icons {
    padding: inherit;
}

@media(max-width:767px) {
    .circular-icons {
        padding: 25px 120px;
    }
}

.radius {
    width: 4px;
    height: 4px;
    border-radius: 5px;
    margin: 30px 2px;
    background-color: #6c98e1;
}

.radius-1 {
    width: 4px;
    height: 4px;
    border-radius: 5px;
    margin: 27px 2px;
    background-color: #6c98e1;
    margin: -10px 2px;
}

.footer-bottom-page {
    display: flex;
    border-bottom: 1px solid #6c98e1;
}

@media(max-width:767px) {
    .footer-bottom-page {
        display: block;
    }
}

.footer-first img {
    padding: 50px 0;
}

.footer-first>p {
    opacity: 0.7;
    font-size: 17.33px;
    line-height: 23px;
}

.footer-first,
.footer-second-layout,
.footer-third,
.footer-fourth {
    width: 280px;
    padding-right: 20px;
}

.footer-second-layout h5,
.footer-third h5,
.footer-fourth h5 {
    color: #fff;
    font-size: 26px;
}

.footer-second,
.grid-view {
    padding-top: 50px;
}

.footer-second-layout h5,
.footer-third h5 {
    border-bottom: 1px solid #6c98e1;
}

.footer-second-layout,
.footer-third,
.footer-fourth {
    padding: 50px 20px;
}

@media(max-width:767px) {

    .footer-second-layout,
    .footer-third,
    .footer-fourth {
        padding: 25px 10px;
    }
}

.grid-view {
    display: grid;
    grid-template-columns: auto auto;
    color: #517ec0;
    font-size: 14px;
}

.new-text {
    display: flex;
    padding: 0 0;
}

.new-text>p {
    padding: 10px;
    color: white;
    opacity: 0.7;
    margin-bottom: 0;

}

.new-text i {
    padding: 12px 0;
    color: #fde42b;
    transform: rotate(268deg);
}

.input-text {
    overflow: hidden;
}

.input-text i {
    padding: 12px;
    background-color: #d08d0b;
    margin: -5px;
}

.input-text input {
    padding: 10px;
}

.footer-fourth p {
    color: #99abbc;
    font-size: 14px;
    padding: 20px 0;
}


.copyright {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.copyright p {
    margin-bottom: 0;
}

.footer-icons>i {
    padding: 8px;
    margin: 2px;
    color: #002e5b;
    background-color: white;
    border-radius: 20px;
    width: 30px;
}