* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

span {
    font-family: cursive;
    font-weight: 100px;
    color: rgb(42, 181, 236);



}

.wall {
    border: 1px solid rgb(169, 169, 169);
    height: 650px;
    width: 25%;
    color: white;
    margin: 20px;
    background-image: linear-gradient(120deg, #e7e0ed 0%, rgb(22, 142, 189) 100%);
}

.drywall {
    font-size: 30px;
   
   
}

.drywall-section{
    /* margin-left: 20px; */
    padding-left: 20px;
  
}
.drywall ::after{
    content: '';
    max-height: 80px;
    height: 33px;
    position: absolute;
    right: 65px;
    border-right: 5px solid rgb(109, 171, 17);
}


.drywall h1 {
    padding: 0 50px;
}

.paragraph {
    font-size: 20px;
}

img {
    width: 90%;
    padding-left: 0;
    height: 30px;
}

.container {
    padding-top: 50px;
}

.container h3 {
    font-size: 40px;
}



h2 {
    font-size: 60px;
}

.drywall{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 51% 96%, 43% 75%, 0% 75%);
    width: 92%;
    height: 540px;
  background-color: green;
}
 
.drywall-section{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 53% 94%, 46% 75%, 0% 75%);
    width: 98%;
    height: 530px;
    background-image: linear-gradient(120deg, #e7e0ed 0%,  rgb(37, 165, 216) 100%);
}


.btn {
    width: 90%;
    font-size: 30px;
    font-weight: bold;
 
    margin: 10px 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    padding: 10px;
    color: rgb(42, 181, 236);
}